[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# Remove .2 seconds for increasing the career stat, like, what? Why is this here?
[[patches]]
[patches.pattern]
target = "card.lua"
position = "at"
match_indent = true
pattern = '''else
    delay(0.2)'''
payload = '''elseif not AG.skip_booster_animation then
    delay(0.2)'''

# Remove pack "exploding" animation
[[patches]]
[patches.pattern]
target = "card.lua"
position = "at"
match_indent = true
pattern = '''G.E_MANAGER:add_event(Event({trigger = 'after', delay = 0.4, func = function()
    self:explode()'''
payload = '''G.E_MANAGER:add_event(Event({trigger = 'after', delay = AG.skip_booster_animation and 0 or 0.4, func = function()
    if AG.skip_booster_animation then
        self:remove()
    else
        self:explode()
    end'''
