[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

## Welcome to my Sisyphean Hellscape.
## John SMODS please add a standardized way to do this
##   (If you're reading this to try to implement your own,
##    there are additional hooks in `src/functions/effects.lua`)

# SMODS.calculate_destroying_cards
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
position = "after"
match_indent = true
pattern = '''-- TARGET: card destroyed'''
payload = '''
if destroyed and SMODS.has_enhancement(card, 'm_glass') and AG.effects.apply_sturdy_glass() then
  destroyed = false
end
'''

# G.FUNCS.discard_cards_from_highlighted
[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
position = "after"
match_indent = true
pattern = '''if key == 'remove' or (type(eval2) == 'table' and eval2.remove) then removed = true end'''
payload = '''if removed and SMODS.has_enhancement(G.hand.highlighted[i], 'm_glass') and AG.effects.apply_sturdy_glass() then removed = false end'''

# SMODS.destroy_cards
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
position = "before"
match_indent = true
pattern = '''local glass_shattered = {}'''
payload = '''
if AG.effects.apply_sturdy_glass() then
  cards = AG.list_utils.filter(cards, function() return not SMODS.has_enhancement(card, 'm_glass') end)
end
'''

# random_destroy (grim, familiar, and incantation)
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
position = "after"
match_indent = true
pattern = '''destroyed_cards[#destroyed_cards + 1] = pseudorandom_element(G.hand.cards, pseudoseed('random_destroy'))'''
payload = '''if SMODS.has_enhancement(destroyed_cards[1], 'm_glass') and AG.effects.apply_sturdy_glass() then'''
