[manifest]
version = "1.0.0"
dump_lua = true
priority = 9999

# Add 'chips' -> 'x_chips' functionality for Primal Kyogre
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/game_object.lua"]'
position = "after"
match_indent = true
pattern = '''if not SMODS.Calculation_Controls.chips then return end'''
payload = '''
if G.GAME.desolate_land and not G.GAME.primordial_sea then return end
if (key == 'chips' or key == 'h_chips' or key == 'chip_mod') and G.GAME.primordial_sea then key = 'x_chips' end
'''

# Add 'mult' -> 'x_mult' functionality for Primal Groudon
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/game_object.lua"]'
position = "after"
match_indent = true
pattern = '''if not SMODS.Calculation_Controls.mult then return end'''
payload = '''
if G.GAME.primordial_sea and not G.GAME.desolate_land then return end
if (key == 'mult' or key == 'h_mult' or key == 'mult_mod') and G.GAME.desolate_land then key = 'x_mult' end
'''
