[manifest]
version = "1.0.0"
dump_lua = true
priority = 999

# Fix injected jokers using the wrong atlas for shinies
## Slightly strange patch format to hopefully support several mods doing this
[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "editions/editions1.lua"]'
position = "at"
match_indent = true
pattern = '''SMODS.Joker:take_ownership(card.config.center_key, {atlas = card.config.center.poke_custom_prefix..'_shiny'..noprefix_atlas, discovered = true, unlocked = true}, true)'''
payload = '''if card.config.center.inject_prefix then
  SMODS.Joker:take_ownership(card.config.center_key, {atlas = 'agar_shiny'..noprefix_atlas, discovered = true, unlocked = true}, true)
else
  SMODS.Joker:take_ownership(card.config.center_key, {atlas = card.config.center.poke_custom_prefix..'_shiny'..noprefix_atlas, discovered = true, unlocked = true}, true)
end'''
