[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# Fix Pokeballs/Ubers packs not respecting duplicates and/or custom pool functions
[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "functions/pokefunctions.lua"]'
position = "at"
match_indent = true
pattern = '''if v.stage and v.stage ~= "Other" and not (stage and v.stage ~= stage) and not (pokerarity and v.rarity ~= pokerarity) and get_gen_allowed(v)
   and not (poketype and poketype ~= v.ptype) and pokemon_in_pool(v) and not v.aux_poke and v.rarity ~= "poke_mega" and not exclude_keys[v.key]
   and not G.GAME.banned_keys[v.key] then
  local no_dup = true
  if G.jokers and G.jokers.cards and not next(find_joker("Showman")) then
    for l, m in pairs(G.jokers.cards) do
      if v.key == m.config.center_key then
        no_dup = false
      end
    end
  end
  if no_dup then
    table.insert(poke_keys, v.key)
  end
end'''
payload = '''if v.stage and v.stage ~= "Other" and not (stage and v.stage ~= stage) and not (pokerarity and v.rarity ~= pokerarity) and get_gen_allowed(v)
   and not (poketype and poketype ~= v.ptype) and v:in_pool() and not v.aux_poke and v.rarity ~= "poke_mega" and not exclude_keys[v.key]
   and not G.GAME.banned_keys[v.key] and not (G.GAME.used_jokers[v.key] and not SMODS.showman(v.key)) then
  table.insert(poke_keys, v.key)
end'''
