[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# [SMODS.get_enhancements] Add Hazard effects to Stunfisk
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
position = "after"
match_indent = true
pattern = '''local enhancements = {}'''
payload = '''if card.base.value == "agar_Stunfisk" then
    enhancements["m_poke_hazard"] = true
end'''

# [poke_vary_rank] Stop Sun Stone from creating Stunfisk cards
[[patches]]
[patches.pattern]
target = '=[SMODS Pokermon "functions/pokeutils.lua"]'
position = "before"
match_indent = true
pattern = '''if #poss_ranks > 0 then'''
payload = '''for i, rank in ipairs(poss_ranks) do
  if rank == "agar_Stunfisk" then
    table.remove(poss_ranks, i)
    break
  end
end'''
