[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# Toggle the Xmult deferral
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
position = "after"
match_indent = true
pattern = '''-- TARGET: effects before scoring starts'''
payload = '''
if AG.effects.apply_mycelium_might() then
  AG.mycelium_might = true
  AG.stored_xmult_effects = {}
end
'''

# Cash in your Xmult
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
position = "after"
match_indent = true
pattern = '''-- TARGET: effects before deck final_scoring_step'''
payload = '''
if AG.mycelium_might then
  AG.mycelium_might = false
  for _, args in ipairs(AG.stored_xmult_effects) do
    SMODS.calculate_effect(table.unpack(args))
  end
  AG.stored_xmult_effects = nil
end
'''
