[manifest]
version = "1.0.0"
dump_lua = true
priority = -9

# Remove the original hand scoring call under Trick Room
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
position = "at"
match_indent = true
pattern = '''
for _, v in ipairs(SMODS.get_card_areas('playing_cards')) do
    SMODS.calculate_main_scoring({cardarea = v, full_hand = G.play.cards, scoring_hand = scoring_hand, scoring_name = text, poker_hands = poker_hands}, v == G.play and scoring_hand or nil)
    delay(0.3)
end
'''
payload = '''
if not G.GAME.trick_room then
    for _, v in ipairs(SMODS.get_card_areas('playing_cards')) do
        SMODS.calculate_main_scoring({cardarea = v, full_hand = G.play.cards, scoring_hand = scoring_hand, scoring_name = text, poker_hands = poker_hands}, v == G.play and scoring_hand or nil)
        delay(0.3)
    end
end
'''

# Add it back later
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
position = "before"
match_indent = true
pattern = '''-- context.final_scoring_step calculations'''
payload = '''
if G.GAME.trick_room then
    for _, v in ipairs(SMODS.get_card_areas('playing_cards')) do
        SMODS.calculate_main_scoring({cardarea = v, full_hand = G.play.cards, scoring_hand = scoring_hand, scoring_name = text, poker_hands = poker_hands}, v == G.play and scoring_hand or nil)
        delay(0.3)
    end
end
'''

# Reverse the direction of played card scoring under Trick Room
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
position = "at"
match_indent = true
pattern = '''for _, card in ipairs(context.cardarea.cards) do'''
payload = '''for _, card in ipairs(G.GAME.trick_room and AG.list_utils.rev(context.cardarea.cards) or context.cardarea.cards) do'''

# Reverse the direction of Joker scoring under Trick Room
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
position = "at"
match_indent = true
pattern = '''for _, area in ipairs(SMODS.get_card_areas('jokers')) do for _, _card in ipairs(area.cards) do'''
payload = '''for _, area in ipairs(SMODS.get_card_areas('jokers')) do for _, _card in ipairs(G.GAME.trick_room and AG.list_utils.rev(area.cards) or area.cards) do'''
