[manifest]
version = "1.0.0"
dump_lua = true
priority = -9

# Trick Room patches that need to run before other mods patch `functions/state_events.lua`
# SMODS patches have a priority of -10, so -9 runs immediately afterwards

# Remove the original hand scoring call under Trick Room
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
position = "at"
match_indent = true
pattern = '''
for _, v in ipairs(SMODS.get_card_areas('playing_cards')) do
    SMODS.calculate_main_scoring({cardarea = v, full_hand = G.play.cards, scoring_hand = scoring_hand, scoring_name = text, poker_hands = poker_hands}, v == G.play and scoring_hand or nil)
    delay(0.3)
end
'''
payload = '''
if not AG.effects.apply_trick_room() then
    for _, v in ipairs(SMODS.get_card_areas('playing_cards')) do
        SMODS.calculate_main_scoring({cardarea = v, full_hand = G.play.cards, scoring_hand = scoring_hand, scoring_name = text, poker_hands = poker_hands}, v == G.play and scoring_hand or nil)
        delay(0.3)
    end
end
'''

# Add it back later
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
position = "before"
match_indent = true
pattern = '''-- context.final_scoring_step calculations'''
payload = '''
if AG.effects.apply_trick_room() then
    for _, v in ipairs(SMODS.get_card_areas('playing_cards')) do
        SMODS.calculate_main_scoring({cardarea = v, full_hand = G.play.cards, scoring_hand = scoring_hand, scoring_name = text, poker_hands = poker_hands}, v == G.play and scoring_hand or nil)
        delay(0.3)
    end
end
'''
