[manifest]
version = "1.0.0"
dump_lua = true
priority = 99

# Trick Room patches that don't need to run before other mods

# Reverse the direction of played card scoring and held cards at the end of round under Trick Room
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
position = "at"
match_indent = true
pattern = '''for _, card in ipairs(context.cardarea.cards) do'''
payload = '''for _, card in ipairs(AG.effects.apply_trick_room() and AG.list_utils.rev(context.cardarea.cards) or context.cardarea.cards) do'''

# Reverse the direction of various Joker mechanics, including Joker effects on individual scoring cards
[[patches]]
[patches.regex]
target = '=[SMODS _ "src/utils.lua"]'
position = "at"
match_indent = true
pattern = '''for _, (_?card) in ipairs\(area\.cards\) do'''
payload = '''for _, $1 in ipairs(AG.effects.apply_trick_room() and AG.list_utils.rev(area.cards) or area.cards) do'''

# Reverse the direction of Joker scoring under Trick Room
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
position = "at"
match_indent = true
pattern = '''for _, area in ipairs(SMODS.get_card_areas('jokers')) do for _, _card in ipairs(area.cards) do'''
payload = '''for _, area in ipairs(SMODS.get_card_areas('jokers')) do for _, _card in ipairs(AG.effects.apply_trick_room() and AG.list_utils.rev(area.cards) or area.cards) do'''

# Reverse the direction of context.other_joker effect calculation
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
position = "at"
match_indent = true
pattern = '''for _, _joker in ipairs(_area.cards) do'''
payload = '''for _, _joker in ipairs(AG.effects.apply_trick_room() and AG.list_utils.rev(_area.cards) or _area.cards) do'''
